<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
<typeAliases>
    <typeAlias alias="Problem" type="com.web.entity.Problem"/>
    <typeAlias alias="SubmitRecord" type="com.web.entity.SubmitRecord"/>
    <typeAlias alias="UploadProblem" type="com.web.entity.UploadProblem"/>
    <typeAlias alias="RankContest" type="com.web.entity.RankContest"/>
    <typeAlias alias="RankResult" type="com.web.entity.RankResult"/>
    <typeAlias alias="SoloContest" type="com.web.entity.SoloContest"/>
</typeAliases>



    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>
