<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fightcoder.mapper.BlogMainMapper" >
  <resultMap id="BaseResultMap" type="com.fightcoder.pojo.BlogMain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="instUserId" property="instuserid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fightcoder.pojo.BlogMain" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, instUserId, title, createdate
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from inst_blog_main
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inst_blog_main
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fightcoder.pojo.BlogMain" >
    insert into inst_blog_main (id, instUserId, title, 
      createdate, content)
    values (#{id,jdbcType=INTEGER}, #{instuserid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fightcoder.pojo.BlogMain" >
    insert into inst_blog_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="instuserid != null" >
        instUserId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="instuserid != null" >
        #{instuserid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fightcoder.pojo.BlogMain" >
    update inst_blog_main
    <set >
      <if test="instuserid != null" >
        instUserId = #{instuserid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fightcoder.pojo.BlogMain" >
    update inst_blog_main
    set instUserId = #{instuserid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fightcoder.pojo.BlogMain" >
    update inst_blog_main
    set instUserId = #{instuserid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      createdate = #{createdate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>