<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.CoderDao">

    <!--save-->
    <insert id="save" parameterType="com.web.entity.Coder">
      insert into inst_coder (id, picture, nickname, email, age, sex, fame, following,followers,instFactionId, school)
      values (#{id}, #{picture}, #{nickname}, #{email}, #{age},#{sex},#{fame},#{following},#{followers},#{instfactionid},#{school})
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        insert into inst_coder (id, picture, nickname, email, age, sex, fame, following,followers, instFactionId, school)
        values
      <if test="list!=null">
          <foreach collection="list" item="item"  separator=",">
              (#{item.id}, #{item.picture}, #{item.nickname},
              #{item.email}, #{item.age}, #{item.sex}, #{item.fame},
              #{item.following},#{item.followers}, #{item.instfactionid},
              #{item.school})
          </foreach>
      </if>

    </insert>

    <!--remove-->
    <delete id="remove" parameterType="java.lang.Integer" >
        delete from inst_coder
        where id = #{id}
    </delete>

    <!--removeBatch-->
    <delete id="removeBatch" parameterType="int">
        delete from inst_coder
        where id IN
        <if test="array!=null">
            <foreach collection="array" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>

    <!--update-->
    <update id="update" parameterType="com.web.entity.Coder">
        update inst_coder
        <set>
            <if test="picture!=null and picture!=''">
                picture = #{picture},
            </if>
            <if test="nickname!=null and nickname!=''">
                nickname = #{nickname},
            </if>
            <if test="email!=null and email!=''">
                email = #{email},
            </if>
            <if test="age!=0">
                age = #{age},
            </if>
            <if test="sex!=0">
                sex = #{sex},
            </if>
            <if test="fame!=0">
                fame = #{fame},
            </if>
            <if test="following!=null and following!=''">
                following = #{following},
            </if>
            <if test="followers!=null and followers!=''">
                followers = #{followers},
            </if>
            <if test="instfactionid!=0">
                instfactionid = #{instfactionid},
            </if>
            <if test="school!=null and school!=''">
                school = #{school}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--find-->
    <select id="getEntityById" parameterType="int" resultType="com.web.entity.Coder">
        select
        id, picture, nickname, email, age, sex, fame, instFactionId, school
        from inst_coder
        where id = #{id}
    </select>

    <select id="listBatch"  resultType="com.web.entity.Coder">
        select * from inst_coder
        <where>
            <if test="param1.picture !=0">
                AND inst_coder.picture = #{param1.picture}
            </if>
            <if test="param1.nickname !=0">
                AND inst_coder.nickname = #{param1.nickname}
            </if>
            <if test="param1.email !=null and param1.email!=''">
                AND inst_coder.email = #{param1.email}
            </if>
            <if test="param1.age !=null and param1.age!=''">
                AND inst_coder.age = #{param1.age}
            </if>
            <if test="param1.sex !=null and param1.sex!=''">
                AND inst_coder.sex = #{param1.sex}
            </if>
            <if test="param1.fame !=null and param1.fame!=''">
                AND inst_coder.fame = #{param1.fame}
            </if>
            <if test="param1.instfactionid !=null and param1.instfactionid!=''">
                AND inst_coder.instfactionid = #{param1.instfactionid}
            </if>
            <if test="param1.school !=null and param1.school!=''">
                AND inst_coder.school = #{param1.school}
            </if>
        </where>
        limit #{param2},#{param3}

    </select>

    <!--count-->
    <select id="count" parameterType="com.web.entity.Coder" resultType="int">
        select count(*) from inst_coder
        <where>
            <if test="picture !=null and picture!=''">
                AND inst_coder.picture = #{picture}
            </if>
            <if test="nickname !=null and nickname!=''">
                AND inst_coder.nickname = #{nickname}
            </if>
            <if test="email !=null and email!=''">
                AND inst_coder.email = #{email}
            </if>
            <if test="age !=0">
                AND inst_coder.age = #{age}
            </if>
            <if test="sex !=0">
                AND inst_coder.sex = #{sex}
            </if>
            <if test="fame !=0">
                AND inst_coder.fame = #{fame}
            </if>
            <if test="instfactionid !=0">
                AND inst_coder.instfactionid = #{instfactionid}
            </if>
            <if test="school !=null and school!=''">
                AND inst_coder.school = #{school}
            </if>
        </where>
    </select>

    <select id="countAll" resultType="int">
        select count(*) from inst_coder
    </select>



</mapper>