<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fightcoder.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.fightcoder.pojo.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sendId" property="sendid" jdbcType="INTEGER" />
    <result column="recieveId" property="recieveid" jdbcType="INTEGER" />
    <result column="sendTime" property="sendtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fightcoder.pojo.Message" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sendId, recieveId, sendTime
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from inst_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inst_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fightcoder.pojo.Message" >
    insert into inst_message (id, sendId, recieveId, 
      sendTime, content)
    values (#{id,jdbcType=INTEGER}, #{sendid,jdbcType=INTEGER}, #{recieveid,jdbcType=INTEGER}, 
      #{sendtime,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fightcoder.pojo.Message" >
    insert into inst_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendid != null" >
        sendId,
      </if>
      <if test="recieveid != null" >
        recieveId,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendid != null" >
        #{sendid,jdbcType=INTEGER},
      </if>
      <if test="recieveid != null" >
        #{recieveid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fightcoder.pojo.Message" >
    update inst_message
    <set >
      <if test="sendid != null" >
        sendId = #{sendid,jdbcType=INTEGER},
      </if>
      <if test="recieveid != null" >
        recieveId = #{recieveid,jdbcType=INTEGER},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fightcoder.pojo.Message" >
    update inst_message
    set sendId = #{sendid,jdbcType=INTEGER},
      recieveId = #{recieveid,jdbcType=INTEGER},
      sendTime = #{sendtime,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fightcoder.pojo.Message" >
    update inst_message
    set sendId = #{sendid,jdbcType=INTEGER},
      recieveId = #{recieveid,jdbcType=INTEGER},
      sendTime = #{sendtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>